*.Cache
SAARTAC1.1/SAARTAC1.1/obj/Debug/SAARTAC1.1.csproj.GenerateResource.Cache
SAARTAC1.1/SAARTAC1.1/obj/Debug/SAARTAC1.1.exe
SAARTAC1.1/SAARTAC1.1/bin/Debug/SAARTAC1.1.exe
SAARTAC1.1/SAARTAC1.1/bin/Debug/SAARTAC1.1.pdb
*.suo
*.ide
*.exe
*.pdb
*.cache
*.CopyComplete
*.csproj.FileListAbsolute.txt
SAARTAC1.1/.vs/SAARTAC1.1/v15/.suo
