*.Cache
SAARTAC1.1/SAARTAC1.1/obj/Debug/SAARTAC1.1.csproj.GenerateResource.Cache
SAARTAC1.1/SAARTAC1.1/obj/Debug/SAARTAC1.1.exe
SAARTAC1.1/SAARTAC1.1/bin/Debug/SAARTAC1.1.exe
SAARTAC1.1/SAARTAC1.1/bin/Debug/SAARTAC1.1.pdb