<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SAARTAC1._1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <SAARTAC1._1.Properties.Settings>
            <setting name="rutaPython" serializeAs="String">
                <value>D:\Python27\python.exe</value>
            </setting>
            <setting name="rutaLecturaDicom" serializeAs="String">
                <value>D:\Trabajo Terminal\SAARTAC\TT2.0C#\sum.py</value>
            </setting>
            <setting name="NumeroProcesos" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="iteNume" serializeAs="String">
                <value>10</value>
            </setting>
        </SAARTAC1._1.Properties.Settings>
    </userSettings>
</configuration>