<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SAARTAC1._1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <SAARTAC1._1.Properties.Settings>
            <setting name="rutaPyton" serializeAs="String">
                <value>D:\Python27\python.exe</value>
            </setting>
            <setting name="rutaLecturaDicom" serializeAs="String">
                <value>"D:\Trabajo Terminal\SAARTAC\TT2.0C#\sum.py"</value>
            </setting>
        </SAARTAC1._1.Properties.Settings>
    </applicationSettings>
</configuration>